.contain {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #fff9f7ee;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}

.box1 {
  width: 30vw;
  height: 100%;
}
.box2 {
  width: 46vw;
  height: 100%;
}
.textWrapper {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  height: auto;
  width: 30vw;
}

.profile h1 {
  color: #000;
  padding-top: 10px;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.address {
  margin-top: 50px;
}
.address h2 {
  color: #191923;
  font-size: clamp(1rem, 4vw, 1.4rem);
}

.address p {
  color: #191923;
  margin-top: 15px;
  width: 60%;
  font-size: clamp(0.1rem, 3vw, 1.15rem);
}

.links h2 {
  color: #191923;
  font-size: clamp(1rem, 4vw, 1.4rem);
  padding-top: 30px;
  margin-bottom: 20px;
}
.linkIcon {
  color: #000;
}

.links div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.links a {
  font-size: clamp(0.1rem, 3vw, 1.15rem);
  color: #000;
}
.links a {
  text-decoration: none;
  color: rgb(62, 59, 59);
}

.links a:hover {
  color: orange;
}

.message {
  padding-top: 20px;
}

/*Envelope*/

.formWrap {
  flex: 1;
  overflow: hidden;
  height: 75vh;
  position: relative;
  width: 100%;
  top: 0px;
  transition: all 1s ease-in-out 0.3s;
}

.formWrap:before {
  content: "";
  position: absolute;
  bottom: 128px;
  left: 0px;
  background: url("https://i.imgur.com/x7PdObG.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 52vh;
}

.formWrap:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url("https://i.imgur.com/lfI33tF.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.formWrap.hide:after,
.formWrap.hide:before {
  display: none;
}

.formWrap:hover {
  height: 777px;
  top: -200px;
}

.formWrap form {
  background: white;
  position: relative;
  top: 200px;
  align-content: center;
  overflow: hidden;
  height: 30vh;
  padding-top: 10px;
  margin: 0 10px;
  width: 97%;
  transition: all 1s ease-in-out 0.3s;
}

.formWrap:hover form {
  height: 530px;
}

.formWrap label {
  margin: 20px 20px 20px 13px;
  font-size: 15px;
  color: gray;
  text-transform: uppercase;
}

.formWrap input[type="text"],
.formWrap textarea {
  font: 14px normal uppercase, arial, serif;
  color: dimgray;
  background: none;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 37px;
  padding: 0px 10px;
  margin: 10px 0 10px 5%;
  border: 1px solid #cccac7;
  border-radius: 5px;
}

.formWrap textarea {
  height: 80px;
  padding-top: 14px;
}

.formWrap textarea:focus,
.formWrap input[type="text"]:focus {
  background: white;
}

.formWrap input[type="submit"] {
  position: relative;
  margin-top: 15px;
  font-size: 1rem;
  color: white;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  opacity: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #5d92ad;
  border: 1px solid #555553;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: opacity 0.7s ease-in-out 0s;
}

.formWrap:hover input[type="submit"] {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 1.3s;
}

@media (max-width: 1350px) {
  .formWrap:hover {
    height: 740px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 490px;
  }
}
@media (max-width: 1260px) {
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 36%;
  }
  .formWrap form {
    top: 28vw;
    width: 98.5%;
    margin: 0 0 0 5px;
  }
}
@media (min-width: 1150px) and (max-width: 1260px) {
  .container {
    margin-top: -10px;
  }
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 25%;
  }
  .formWrap form {
    top: 20.5vw;
    width: 98.5%;
    margin: 0 0 0 5px;
  }
}
@media (min-width: 1100px) and (max-width: 1150px) {
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 25%;
  }
  .formWrap form {
    top: 20.5vw;
  }
  .formWrap:after {
    bottom: 3%;
  }
}
@media (min-width: 1050px) and (max-width: 1100px) {
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 25%;
  }
  .formWrap form {
    top: 20.8vw;
  }
  .formWrap:after {
    bottom: 5%;
  }
}
@media (min-width: 1000px) and (max-width: 1049px) {
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 25%;
  }
  .formWrap form {
    top: 20.8vw;
  }
  .formWrap:after {
    bottom: 6.5%;
  }
}
@media (min-width: 950px) and (max-width: 1049px) {
  .formWrap {
    height: 80.5vh;
  }
  .formWrap:before {
    bottom: 25%;
  }
  .formWrap form {
    top: 20.8vw;
  }
  .formWrap:after {
    bottom: 6.5%;
  }
}

/*Start of column*/

@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  .formWrap {
    height: 83.5vh;
  }
  .formWrap form {
    top: 29vw;
  }
  .formWrap:before {
    bottom: 36%;
  }

  .formWrap:after {
    bottom: 0%;
  }
  .box1 {
    width: 100%;
    padding: 20px;
  }
  .box2 {
    width: 90%;
    padding: 20px;
  }
  .address {
    margin-top: 30px;
  }
  .textWrapper {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .profile h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .formWrap {
    height: 75.5vh;
  }
  .formWrap:before {
    bottom: 30%;
  }
  .formWrap form {
    top: 27vw;
  }
  .formWrap:after {
    bottom: 0%;
  }
}

@media (max-width: 700px) {
  .formWrap {
    height: 73.5vh;
  }
  .formWrap:before {
    bottom: 29%;
  }
  .formWrap form {
    top: 28vw;
  }

  .formWrap:hover {
    height: 710px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 440px;
  }
}

@media (max-width: 650px) {
  .formWrap {
    height: 72.9vh;
  }
  .formWrap:before {
    bottom: 23%;
  }
  .formWrap form {
    top: 31vw;
  }

  .formWrap:hover {
    height: 710px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 440px;
  }
}
@media (max-width: 600px) {
  .formWrap {
    height: 65.5vh;
  }
  .formWrap:before {
    bottom: 20%;
  }
  .formWrap form {
    top: 26vw;
    margin-left: 2px;
    width: 99%;
  }

  .formWrap:hover {
    height: 660px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 440px;
  }
}

@media (max-width: 550px) {
  .formWrap {
    height: 61.5vh;
  }
  .formWrap:before {
    bottom: 15%;
  }
  .formWrap form {
    top: 25vw;
    margin-left: 2px;
    width: 99%;
  }

  .formWrap:hover {
    height: 660px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 440px;
  }
}

@media (max-width: 400px) {
  .formWrap {
    height: 37.5vh;
  }
  .formWrap:before {
    bottom: -41%;
  }
  .formWrap:after {
    content: "";
    position: absolute;
    bottom: -50%;
  }
  .formWrap form {
    top: 29vw;
    height: 20vh;
    margin-left: 2px;
    width: 99%;
  }

  .formWrap:hover {
    height: 660px;
    top: -200px;
  }
  .formWrap:hover form {
    height: 440px;
  }
}
